.start-panel {
    display: grid;
    grid-template-columns: 50px minmax(200px, auto) 1fr;
}
.start-panel__icons {
    display: grid;
    grid-template-rows: 1fr;    
}
.start-panel__grid {
    display: grid;
    grid-template-areas: 
    "OFFICE ZABAVA"
    "INTERNET ZABAVA";
    align-content: start;
    
}
.apps--office {
    grid-area: OFFICE;
}
.apps--web {
    grid-area: INTERNET;
}
.apps--other {
    grid-area: ZABAVA;
}
.apps__grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-auto-rows: 50px;
    gap: 5px;
}
.app--g2x2 {
    grid-row-end: span 2;
    grid-column-end: span 2;
}
.app--g2x1 {
    grid-column-end: span 1 ;
    grid-row-end: span 2;
}
.app--g1x2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
}
.app--off-3 {
    grid-column-start: 3;
}
.app--off-4 {
    grid-row-start: 2;
    grid-column-start: 5;
}
.app--off-5 {
    grid-column-start: 5;
    grid-row-start: 1;
}
.app--in-3 {
    grid-row-start: 1;
    grid-column-start: 3;
}
.app--fun-2 {
    grid-row-start: 3;
    grid-column-start: 3;
}
.app--fun-3 {
    grid-row-start: 5;
    grid-column-start: 5;
}